*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',"sans-serif";
    box-sizing: border-box;
}
body{
    background-image: url(Assest/Img/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* background-color: chartreuse; */
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    position: relative;
    background-color: transparent;
    border: 2px solid rgba(225,225,225,0.2);
    backdrop-filter: blur(10px);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    width: 420px;
    color: white;
    margin: 10px;
    padding: 20px;
    scale: 1.3;
    border-radius: 10px;
}
.wrapper h1{
    text-align: center;
    font-size: 36px;
}
.wrapper .input {
    width: 100%;
    height:50px;
    margin: 30px 0;
}
.input input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border:2px solid rgba(225,225,225,0.2);
    border-radius: 40px;
    color: white;
    font-size: 26px;
    padding:0 20px;
}
.input input::placeholder{
    color: white;
}
.input img{
    position:absolute;
    right: 30px;
    transform: translateY(50%);
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-bottom: 20px;
}
.remember-forgot label input{
    accent-color: white;
    margin-right:3px;
}
.remember-forgot a{
    color: white;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    border: none;
    border-radius: 45px;
    box-sizing: border-box;
    padding: px;
    font-size: 26px;
    margin-bottom:20px;
    outline: none;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: #333;
}
.wrapper p{
    text-align: center;
    margin-bottom: 20px;
}
@media (max-width:1440px){
    .wrapper{
        scale:0.8;
    }
}
@media (max-width:1024px){
    .wrapper{
        scale:0.7;
    }
}
@media (max-width:425px){
    .wrapper{
        scale:0.5;
    }
}
